.table {
    font-size: 0.8rem;
    th {
        padding-left: 20px;
    }
}
.meta-right {
    float: right;
}
.user-avatar {
    max-width: 17%;
    border-radius: 50%;
    margin-right: 10px;
}
.wrapper {
    composes: sa-content from '../../../App.module.scss'; 
}