.sa-left-sidebar {
    height: 100%;
    width: 230px;
    margin-top: 61px;
    padding-bottom: 61px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    border-right: 1px solid #e3e3e3;
}